body {
    align-items: center;
    flex-direction: column;
    display: flex;
}
form {
    gap: 8px;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.etch-container {
    border: 1px solid black;
    margin-top: 16px;
    width: 960px;
    flex-direction: column;
    display: flex;
}
.etch-row {
    justify-content: space-between;
    display: flex;
}
.hover {
    border: 1px solid black;
}